SAE102_system1/build/Desktop-Debug/.qmake.stash
SAE102_system1/build/Desktop-Debug/Makefile
SAE102_system1/build/Desktop-Debug/main.o
SAE102_system1/build/Desktop-Debug/.qtc_clangd/
SAE102_system1/SAE102_system1.pro.user
SAE102_system2/build/Desktop-Debug/.qmake.stash
SAE102_system2/build/Desktop-Debug/Makefile
SAE102_system2/build/Desktop-Debug/main.o
SAE102_system2/build/Desktop-Debug/.qtc_clangd/
SAE102_system2/SAE102_system2.pro.user
SAE102_system3/2Systemedevote.pro.user
SAE102_system3/build/Desktop_Qt_6_7_1-Debug/.qmake.stash
SAE102_system3/build/Desktop_Qt_6_7_1-Debug/Makefile
SAE102_system3/build/Desktop_Qt_6_7_1-Debug/main.o
SAE102_system2/build/Desktop_Qt_6_7_1-Debug/
SAE102_system3/build/Desktop-Debug/
